/World.class
/WorldViewer.class
/WorldViewer$1.class
/ArrayWorld.class
/RefactorLife.class
/Pattern.class
/PatternFormatException.class
/PatternLoader.class
/world.jar
/Test.class
/TestArrayWorld.class
/TestPackedWorld.class
/WorldImpl.class
/PackedWorld.class
/AgingWorld.class
/PackedLong.class
